<!-- views/navbar.ejs -->
 <link rel="stylesheet" href="./stylesheets/nav.css">
<nav class="bg-white-300 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="text-[#4f46e5] text-2xl font-bold">
      <h1
        class="bg-transparent border-none outline-none text-3xl text-[#4f46e5] px-2"
      >
        BeSocial
      </h1>
    </div>
    <!-- Links -->
    <ul class="flex space-x-6 items-center">
      <li>
        <a
          href="/"
          class="text-gray-700 relative overflow-hidden pb-[1px] border-b-[2px] border-transparent transition duration-200 hover:text-[#4f46e5] hover:border-[#4f46e5]"
        >
          Home
        </a>
      </li>
      <li>
        <a
          href="/about"
          class="text-gray-700 relative overflow-hidden pb-[1px] border-b-[2px] border-transparent transition duration-200 hover:text-[#4f46e5] hover:border-[#4f46e5]"
        >
          About
        </a>
      </li>
      <li>
        <a
          href="/feed"
          class="text-gray-700 relative overflow-hidden pb-[1px] border-b-[2px] border-transparent transition duration-200 hover:text-[#4f46e5] hover:border-[#4f46e5]"
        >
          Feed
        </a>
      </li>
      <% if (locals.user) { %>
        <li>
          <a
            href="/forums"
            class="text-gray-700 relative overflow-hidden pb-[1px] border-b-[2px] border-transparent transition duration-200 hover:text-[#4f46e5] hover:border-[#4f46e5]"
          >
            Forums
          </a>
        </li>
      <% } %>
      <li>
        <input type="text"
        placeholder="Search here..."
        class="border-[1.5px] border-[#4f46e5] text-[#4f46e5] rounded-full py-[4px] px-5 focus:outline-none focus:ring-2 focus:ring-[#4f46e5]"
        >
      </li>
      <% if (typeof user !== 'undefined' || typeof loginUser !== 'undefined') { %>
        <li>
          <a href="/users/profile/">
            <div class="overflow-hidden">
              <% if (typeof loginUser !== 'undefined' && loginUser && loginUser._id && loginUser._id.toString() !== user?._id?.toString()) { %>
                <img class="w-9 h-9 rounded-full" src="<%= loginUser.avatar?.startsWith('https') ? loginUser.avatar : '/' + loginUser.avatar %>" alt="">
                <% } else { %>
                  <img class="w-9 h-9 rounded-full" src="<%= user?.avatar?.startsWith('https') ? user.avatar : '/' + user.avatar %>" alt="">
              <% } %>
            </div>
          </a>
        </li>
        
      <% }else { %>
        <li>
          <a
            href="/signin"
            class="text-gray-700 relative overflow-hidden pb-[1px] border-b-[2px] border-transparent transition duration-200 hover:text-[#4f46e5] hover:border-[#4f46e5]"
          >
            Sign In
          </a>
        </li>
        <li>
          <a
            href="/signup"
            class="border-2 border-[#4f46e5] text-[#4f46e5] rounded-full py-[5px] px-5 hover:bg-[#4f46e5] hover:text-white transition duration-300"
          >
            Sign Up
          </a>
        </li>
        <% } %>
    </ul>
  </div>
</nav>
